@using Enten.Components.Classes

<div class="partswitch">
    <InputNumber class="part" id="index"
                 type="number"
                 Value="@Duckpart.SortOrder"
                 ValueChanged="(int i) => OnSortChanged(i)"
                 ValueExpression="@(() => Duckpart.SortOrder)"/>
    <InputCheckbox class="part" id="visible" type="checkbox" @bind-Value="Visible"/>
    <button class="part btn" disabled="@(Duckpart.Pictures.Count < 1)" @onclick="@(() => onButtonPress(false))">@("<")</button>
    
    <p class="part">@getFoldername(@Duckpart.Folder)</p>
    <button class="part btn" disabled="@(Duckpart.Pictures.Count < 1)" @onclick="@(() => onButtonPress(true))">@(">")</button>

    
</div>

<style>
    .part {
        width: 6em;
    }
    
    .btn {
        border: none;
        background: none;
        width: 2em !important;
        font-weight: 800;
        font-size: 2em;
    }
    
    .partswitch {
        display: flex;
        width: 30em;
        justify-content: space-between;
        margin-bottom: 0.5em;
    }
    
    @@media (max-width: 678px) {
        .part {
            width: 3em;
            }
    }
</style>
@code {
    [Parameter] public Duckpart Duckpart { get; set; }
    [Parameter] public EventCallback<string> currentImage { get; set; }
    [Parameter] public EventCallback<bool> isVisible { get; set; }
    [Parameter] public EventCallback<int> SortOrder { get; set; }

    private bool _visible;

    public bool Visible
    {
        get => _visible;
        set
        {
            _visible = value;
            isVisible.InvokeAsync(_visible);
            Duckpart.IsVisible = _visible;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        Visible = Duckpart.IsVisible;
    }

    private string getFoldername(string folderName)
    {
        return folderName.Split(@"\").Last();
    }

    public bool GetVisibility()
    {
        return Duckpart.IsVisible;
    }

    private void OnSortChanged(int i)
    {
        SortOrder.InvokeAsync(i);
    }
    
    private async Task onButtonPress(bool right)
    {
        if (Duckpart.Pictures.Count > 1)
        {
            int currentIndex = Duckpart.Pictures.IndexOf(Duckpart.currentPicture);
            int nextIndex = right ? (currentIndex + 1) % Duckpart.Pictures.Count : (currentIndex - 1 + Duckpart.Pictures.Count) % Duckpart.Pictures.Count;

            Duckpart.currentPicture = Duckpart.Pictures[nextIndex];
            await currentImage.InvokeAsync(Duckpart.currentPicture);
        }
    }

}